<html lang="en">
<head>
    <title>Search</title>
</head>
<body>
<div id="app">
    <h1>Search</h1>
    <label for="search">Search</label>
    <input type="text" id="search" />

    <div id="results">

    </div>
    <script>
        window.__STATE__ = {{{initialState}}}
    </script>
    <script src="client/index.js"></script>
</div>
</body>
</html>
