<html lang="en">
<head>
    <title>Search</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/bootstrap.min.css">
</head>
<body>
<div id="app" class="container py-4">
    <div class="form-group">
        <label for="search">Search</label>
        <input type="text" id="search" class="form-control" />
    </div>

    <div id="results"></div>
    <script>
        window.__STATE__ = {{{initialState}}}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="app.bundle.js"></script>
</div>
</body>
</html>
