body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.results-count {
  margin-bottom: 0.5rem;
}

.results-count-number {
  font-weight: 600;
}

.result {
  border: 1px solid #ced4da;
  border-top: 0;
  padding: 0.5rem 1rem;
}

.border-t-1 {
  border-top: 1px solid #ced4da;
}

.result:hover {
  background-color: #f7fafc;
}
